@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.wrapper {
  background-color: #EFEFEF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  height: 100%;
}

@media (max-width: 1170px) {
  .container {
    max-width: 900px;
  }
}
@media (max-width: 950px) {
  .container {
    max-width: 700px;
  }
}
@media (max-width: 750px) {
  .container {
    max-width: 500px;
  }
}
.sticky-header {
  background-color: #EFEFEF;
  position: sticky;
  top: 0;
}

.menu {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__list {
  display: flex;
}

.menu__list-item {
  padding: 0 15px;
}

@media (max-width: 650px) {
  .menu__list-item {
    padding: 0 3px;
  }
}
.menu__list-link {
  color: #333333;
}

.header__middle {
  background-color: #FFFFFF;
  height: 111px;
  border-bottom: 2px solid #EFEFEF;
}

.header__middle-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__text {
  color: #66C05D;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  padding-left: 20px;
}

@media (max-width: 750px) {
  .logo__text {
    display: none;
  }
}
.header__middle-callback {
  display: flex;
  align-items: center;
}

@media (max-width: 750px) {
  .header__middle-callback {
    flex-direction: column;
  }
}
.header__middle-callback-text {
  padding-right: 40px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

@media (max-width: 750px) {
  .header__middle-callback-text {
    padding-right: 0;
    margin-bottom: 5px;
  }
}
.header__middle-callback-link {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  border: 2px solid #66C05D;
  border-radius: 40px;
  padding: 12px 27px 12px 27px;
  transition: all 0.15s ease-in-out;
}

.header__middle-callback-link:hover {
  background-color: #66C05D;
  color: #FFFFFF;
}

.header__bottom {
  background-color: #FFFFFF;
  height: 74px;
}

.header__bottom-list {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__bottom-list-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding: 0 20px;
}

@media (max-width: 750px) {
  .header__bottom-list-link {
    padding: 0 12px;
  }
}
@media (max-width: 650px) {
  .header__bottom {
    display: none;
  }
}
.main-screen {
  background-image: url(/img/chair.jpg);
  height: 604px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 80px;
}

@media (max-width: 650px) {
  .main-screen {
    background-position-x: left;
  }
}
.main-screen__info {
  height: 100%;
  max-width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.main-screen__info-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
  padding-bottom: 50px;
}

.main-screen__info-text {
  line-height: 20px;
  color: #FFFFFF;
  padding-bottom: 50px;
}

@media (max-width: 400px) {
  .main-screen__info {
    height: 100%;
    display: flex;
    max-width: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-screen__info-text {
    max-width: 200px;
  }
}
.main-screen__info-btn {
  background: #66C05D;
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  padding: 12px 27px 12px 27px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.supersale {
  min-height: 430px;
  margin-bottom: 100px;
}

@media (max-width: 950px) {
  .supersale {
    margin-bottom: 50px;
  }
}
.supersale__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding-bottom: 40px;
}

@media (max-width: 400px) {
  .supersale__title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.supersale__items {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 950px) {
  .supersale__items {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.supersale__item {
  width: 255px;
  height: 360px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 1170px) {
  .supersale__item {
    width: 200px;
  }
}
@media (max-width: 950px) {
  .supersale__item {
    width: 250px;
    height: 300px;
  }
  .supersale__item:nth-child(1),
  .supersale__item:nth-child(2) {
    margin-bottom: 20px;
  }
}
@media (max-width: 750px) {
  .supersale__item {
    width: 200px;
    height: 300px;
  }
}
@media (max-width: 400px) {
  .supersale__item:nth-child(3) {
    margin-bottom: 20px;
  }
}
.supersale__item-text {
  max-width: 195px;
  line-height: 20px;
  text-align: center;
  color: #333333;
}

.supersale__item-price {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.supersale__item-btn {
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  background: #66C05D;
  border-radius: 30px;
  padding: 9px 40px;
  max-width: 130px;
}

.extra-info {
  min-height: 212px;
  margin-bottom: 133px;
}

@media (max-width: 950px) {
  .extra-info {
    margin-bottom: 50px;
  }
}
.extra-info__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 950px) {
  .extra-info__content {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.extra-info__subscribe {
  height: 100%;
  max-width: 540px;
  background-color: #66C05D;
  display: flex;
  align-items: center;
}

@media (max-width: 1170px) {
  .extra-info__subscribe {
    max-width: 430px;
  }
}
@media (max-width: 950px) {
  .extra-info__subscribe {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .extra-info__subscribe {
    flex-direction: column;
  }
}
.extra-info__subscribe-info {
  display: flex;
  flex-direction: column;
  padding: 35px 65px 35px 40px;
}

@media (max-width: 950px) {
  .extra-info__subscribe-info {
    padding: 15px 65px 15px 40px;
  }
}
@media (max-width: 480px) {
  .extra-info__subscribe-info {
    padding: 15px 0px 15px 0px;
    text-align: center;
  }
}
.extra-info__subscribe-title {
  max-width: 250px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.extra-info__subscribe-text {
  max-width: 231px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.extra-info__subscribe-form {
  max-width: 255px;
  height: 35px;
  background: #FFFFFF;
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.extra-info__subscribe-input {
  max-width: 90px;
  margin-left: 20px;
}

.extra-info__subscribe-input::-moz-placeholder {
  color: #C4C4C4;
}

.extra-info__subscribe-input::placeholder {
  color: #C4C4C4;
}

.extra-info__subscribe-img {
  padding-right: 46px;
}

@media (max-width: 480px) {
  .extra-info__subscribe-img {
    padding-right: 0px;
  }
}
.extra-info__our-shops {
  max-width: 535px;
  background-color: #66C05D;
  display: flex;
  align-items: center;
}

@media (max-width: 1170px) {
  .extra-info__our-shops {
    max-width: 470px;
  }
}
@media (max-width: 950px) {
  .extra-info__our-shops {
    max-width: 430px;
  }
}
@media (max-width: 480px) {
  .extra-info__our-shops {
    width: 100%;
    flex-direction: column;
  }
}
.extra-info__our-shops-info {
  display: flex;
  flex-direction: column;
  padding: 35px 65px 35px 40px;
}

.extra-info__our-shops-title {
  max-width: 250px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.extra-info__our-shops-text {
  max-width: 141px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.extra-info__our-shops-link {
  color: #FFFFFF;
  background: #66C05D;
  border: 2px solid #FFFFFF;
  border-radius: 30px;
  padding: 9px 29px;
}

@media (max-width: 1170px) {
  .extra-info__our-shops-link {
    text-align: center;
  }
}
.extra-info__our-shops-img {
  padding-right: 46px;
  padding-left: 20px;
}

@media (max-width: 1170px) {
  .extra-info__our-shops-info {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
  }
  .extra-info__our-shops-img {
    padding-right: 27px;
    padding-left: 0;
  }
}
@media (max-width: 480px) {
  .extra-info__our-shops-info {
    padding-left: 0;
  }
  .extra-info__our-shops-img {
    padding-right: 0;
  }
}
.footer__top {
  background-color: #FFFFFF;
  height: 120px;
}

@media (max-width: 950px) {
  .footer__top {
    min-height: 120px;
  }
}
.footer__top-contacts {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 500px) {
  .footer__top-contacts {
    flex-direction: column;
  }
}
.social-links {
  display: flex;
}

@media (max-width: 950px) {
  .social-links {
    max-width: 120px;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
.social-link {
  border-radius: 50px;
  border: 2px solid #66C05D;
  background: #FFFFFF;
  padding: 10px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

@media (max-width: 950px) {
  .social-link {
    margin: 5px;
  }
}
.footer__top-adress {
  line-height: 16px;
  color: #000000;
}

@media (max-width: 650px) {
  .footer__top-adress {
    max-width: 140px;
    text-align: center;
    margin-bottom: 10px;
  }
}
.footer__top-callback {
  display: flex;
  align-items: center;
}

@media (max-width: 650px) {
  .footer__top-callback {
    margin-bottom: 10px;
  }
}
@media (max-width: 950px) {
  .footer__top-callback {
    flex-direction: column;
    justify-content: center;
  }
}
.footer__top-callback-tell {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-right: 40px;
}

@media (max-width: 950px) {
  .footer__top-callback-tell {
    margin-right: 0;
    margin-bottom: 5px;
  }
}
.footer__top-callback-link {
  line-height: 16px;
  color: #000000;
  border: 2px solid #66C05D;
  border-radius: 40px;
  padding: 13px 27px;
  transition: all 0.15s ease-in-out;
}

.footer__top-callback-link:hover {
  background-color: #66C05D;
  color: #FFFFFF;
}

.footer__bottom {
  height: 64px;
}

.footer__bottom-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  line-height: 14px;
  color: #828282;
}

@media (max-width: 950px) {
  .footer__bottom-info {
    max-width: 250px;
  }
}/*# sourceMappingURL=style.css.map */